doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='assets/logo-blue-favicon.png')
    title testorange safe
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,400,500,700', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' media='screen' href='/styles/main.css')
    script(src='/scripts/main.js')
  body
    header
      .container
        div
          a.logo(href='#') testorange safe
    section#disconnected
      .container
        div
          .nested
            div
              h1 Request Access
              P 
                | In order to use this application, you will need to create an account through SafeTrek.
              p
                | SafeTrek is a security API that this application uses and when creating, you will use your phone number to authenticate your identity. An SMS code will be sent for verification. 
            .btn
              button.safetrek-btn(
                href='#'
                data-href=auth_url
                data-redirect=redirect_uri
                data-protocol=protocol
                data-localhost=localhost
                data-port=port
                data-callback=callback
              )
                b Connect 
                | SafeTrek
      hr
    section#connected
      .container
        div
          h1 Safety Alert
        div.alert-btn
          button
            i.fas.fa-exclamation
          p Danger
        div.injury-btn
          button
            i.fas.fa-briefcase-medical
          p Injury
        .warning
          p
            i.fas.fa-exclamation-circle
            |  Buttons above will alert local emergency services.
        .btn
          button.safetrek-btn(
            href='#'
            data-href=auth_url
            data-redirect=redirect_uri
            data-protocol=protocol
            data-localhost=localhost
            data-port=port
            data-callback=callback
          )
            b Disconnect 
            | SafeTrek
    section#info
      .container
        div
          .nested(onload="loadInfo()")
            div
              h1 Safety Tip
            div#tip
            div#moreinfo
    footer
      .container
        div
          p © 2018 - Dick Wyn Yong
        div
          p
            | Learn more at 
            a(href='https://www.safetrekapp.com/', target='_blank') safetrekapp.com